<div class="login-page d-flex align-items-center justify-content-center">

  <div class="card shadow-sm border-0 login-card">

    <div class="card-body p-5">

      <div class="text-center mb-4">

        <h2 class="fw-bold">
          Domain Copilot
        </h2>

        <p class="text-muted">
          Insurance Claims Adjudication
        </p>

      </div>

      <div
        *ngIf="errorMessage"
        class="alert alert-danger"
      >
        {{ errorMessage }}
      </div>

      <!-- Tenant -->
      <div class="mb-3">

        <label class="form-label">
          Tenant
        </label>

        <select
          class="form-select"
          [(ngModel)]="tenantId"
        >

          <option value="A071EDBD-A4C8-4C53-81BB-9CEF1C72ECB2">
            Tenant A
          </option>

          <option value="22222222-2222-2222-2222-222222222222">
            Tenant B
          </option>

        </select>

      </div>

      <!-- Username -->
      <div class="mb-3">

        <label class="form-label">
          Username
        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="username"
        >

      </div>

      <!-- Password -->
      <div class="mb-4">

        <label class="form-label">
          Password
        </label>

        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
        >

      </div>

      <button
        class="btn btn-primary w-100"
        (click)="login()"
        [disabled]="loading"
      >

        {{ loading ? 'Signing in...' : 'Login' }}

      </button>

    </div>

  </div>

</div>